<nav>
   <div class="nav-wrapper">
      <a href="/" class="brand-logo ml-2">Memes App</a>
      <ul id="nav-mobile" class="right hide-on-small-only ">


         {{#if isAuth}}

         {{#if isMemes}}
         <li class="active"><a href="/">Мемы</a></li>
         {{else}}
         <li><a href="/">Мемы</a></li>
         {{/if}}

         {{#if isProfile}}
         <li class="active"><a href="/profile">Профиль</a></li>
         {{else}}
         <li><a href="/profile">Профиль</a></li>
         {{/if}}

         {{#if isFavorite}}
         <li class="active"><a href="/favorite">Избранное</a></li>
         {{else}}
         <li><a href="/favorite">Избранное</a></li>
         {{/if}}

         {{#if isAdd}}
         <li class="active"><a href="/add">Добавить мем</a></li>
         {{else}}
         <li><a href="/add">Добавить мем</a></li>
         {{/if}}

         <li><a href="/auth/logout">Выйти</a></li>

         {{else}}

         {{#if isMemes}}
         <li class="active"><a href="/">Мемы</a></li>
         {{else}}
         <li><a href="/">Мемы</a></li>
         {{/if}}

         {{#if isLogin}}
         <li class="active"><a href="/auth/login">Войти</a></li>
         {{else}}
         <li><a href="/auth/login">Войти</a></li>
         {{/if}}

         {{/if }}
      </ul>
   </div>
</nav>